CONFIG_VERSION=
RD_APITOKEN="PASTE-YOUR-KEY-HERE" # my RD token
REMOTE_RDUMP_BASE_LOCATION="PASTE-REMOTE-ADDR-HERE" # remote addr with http(s):// and no final slash and no routepath
WEBDAV_LAN_HOST="PASTE-WEBDAV-LAN-HOST-HERE" # webdav addr without webdav(s):// and no final slash and no routepath
DEFAULT_INCR="0"
# rd_api_py configuration - optional, defaults recommended 
SLEEP=500 # Delay (ms) between requests
LONG_SLEEP=30000 # Long delay (ms) every 500 requests
ALL_FILES_INCLUDING_STRUCTURE="yes"
JF_COUNTRY="CH"
JF_LANGUAGE="fr"
INTERESTED_LANGUAGES="" #list of 
PLEX_REFRESH_A="PASTE_A_REFRESH_URL_HERE"
PLEX_REFRESH_B="PASTE_B_REFRESH_URL_HERE"
PLEX_REFRESH_C="PASTE_C_REFRESH_URL_HERE"
JF_WANTED="yes"
ADD_HOST_MOUNT=""
KODI_PLAYER_URL="PASTE_KODIPLAYER_URL_HERE" #url of the kodi player (used to push UI refresh for last updatd items)
KODI_MAIN_URL="PASTE_KODIMAIN_URL_HERE" #url of the main kodi manager (can be a headless kodi, can be the same as kodi player, to push NFO updates)
MYSQL_ROOT_PASSWORD=temporary_nothing #toimprove soon !
MYSQL_DATABASE=kodi_video131
MYSQL_USER=kodi
MYSQL_PASSWORD=kodi