RD_APITOKEN="PASTE-YOUR-KEY-HERE" # my RD token
REMOTE_RDUMP_BASE_LOCATION="PASTE-REMOTE-ADDR-HERE" # remote addr with http(s):// and no final slash and no routepath
DEFAULT_INCR="0"
# rd_api_py configuration - optional, defaults recommended 
SLEEP=500 # Delay (ms) between requests
LONG_SLEEP=30000 # Long delay (ms) every 500 requests
ALL_FILES_INCLUDING_STRUCTURE="yes"
JF_COUNTRY="CH"
JF_LANGUAGE="fr"
PLEX_REFRESH_A="PASTE_A_REFRESH_URL_HERE"
PLEX_REFRESH_B="PASTE_B_REFRESH_URL_HERE"
JF_WANTED="yes"
ADD_HOST_MOUNT=""