env/*
config/*
cache/*
jellygrail/*
Video_Library/*
fallbackdata/*
mounts/*
CUSTOM_HOST_MOUNT.SH
RESTART.SH
docker/root/usr/local/bin/grail_jelly/__pycache__/
docker/root/usr/local/bin/grail_jelly/jg_services/__pycache__/
docker/root/usr/local/bin/grail_jelly/base/__pycache__/
__pycache__/
*.py[co]
