#!/bin/bash
cd "$(dirname "$0")"
docker stop jellygrail
fusermount -uz ./Video_Library 2> /dev/null
fusermount -uz ./Video_Library 2> /dev/null
umount ./Video_Library 2> /dev/null
umount ./Video_Library 2> /dev/null
mkdir -p ./Video_Library
mount -o bind ./Video_Library ./Video_Library
mount --make-shared ./Video_Library
docker start jellygrail
# call to additonal host mount
# ./CUSTOM_HOST_MOUNT.SH
