# Database Host (required)
DB_HOST=

# Database User (required)
DB_USER=

# Database Password (optional)
DB_PASSWORD=

# Enable Redis? (yes/no)
ENABLE_REDIS=no

# Redis Host (required if ENABLE_REDIS=yes)
REDIS_HOST=